<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <script src="https://use.typekit.net/bkt2cmf.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="./styles/main.css" charset="utf-8">
  <title>Look up 45</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <h1>Look up 45</h1>
      </div>
    </header>
    <div class="container">
      <section>
        <img src="/images/logo.png" alt="Look Up 45" />
      <section>
        <form action="/" method="post">
          <span>Enter your catalogue number:</span><input type="text" name="id"><button>Go</button>
        </form>
        {{#if releaseData}}
      <table>
        <thead>
          <th>Title</th>
          <th>Country</th>
          <th>Catalogue Number</th>
          <th>Year</th>
          <th>Format</th>
          <th>Price</th>
          <th>Add</th>

      </thead>
     {{#each releaseData}}
      <tr>
        <td>{{title}}</td>
        <td>{{country}}</td>
        <td>{{catno}}</td>
        <td>{{year}}</td>
        <td>
          {{#each format}}
            {{this}}
          {{/each}}
        </td>
        <td>{{price}}</td>
        <td><a href="Add">Add</a>
      </tr>
      {{/each}}
      </table>
      {{/if}}
    </section>
  </div>
 </div>
</body>
</html>
